body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  flex-wrap: wrap;
}

.box {
  display: flex;
  width: max-content;
  position: relative;
  overflow-x: auto;
}

svg {
  overflow: visible;
}

.button {
  cursor: pointer;
}
.button:hover > .clock-button {
  fill-opacity: 75%;
}
.button:active > .clock-button {
  fill-opacity: 100%;
}
.button.active > .clock-button {
  fill: seagreen;
}

.clock-button {
  fill: white;
  fill-opacity: 50%;
  stroke: darkred;
  stroke-width: 3;
}

.decoder, .register, .alu, .ram {
  stroke-width: 3px;
  rx: 15px;
}

.label {
  font-family: sans-serif;
}
.label.large {
  font-size: xx-large;
}
.label.small {
  font-size: xx-small;
}

.register, .alu, .decoder, .ram {
  fill: lightgoldenrodyellow;
  stroke: darkorange;
}

.scroll-box {
  height: 100%;
}

.ram.input {
  position: absolute;
  top: 57px;
  left: 670px;
  width: 218px;
  max-height: 513px;
  overflow-y: auto;
}

.clock-settings {
  position: absolute;
  top: 635px;
  left: 360px;
  width: 100px;
}

#clock-time {
  width: 100px;
  font-size: x-large;
  font-family: monospace;
  text-align: right;
}

.ram.read, .register.read, .alu.read {
  color: darkred;
  stroke: darkred;
  fill: indianred;
}
.ram.write, .register.write, .alu.write {
  color: darkblue;
  stroke: darkblue;
  fill: cornflowerblue;
}

.inputLabel {
  font-size: 16pt;
  font-family: monospace;
  cursor: pointer;
}

.inputArea {
  background-color: lightgoldenrodyellow;
  font-family: monospace;
  font-size: 16pt;
}

#ram-table {
  border-spacing: 0;
  align-self: center;
}

.ram-word {
  background-color: transparent;
}
.ram-word.active {
  background-color: seagreen;
}

td {
  padding: 5pt;
}

.line {
  fill: none;
  stroke-width: 3px;
}
.line.control {
  stroke: #e11;
  color: #e11;
}
.line.control.high {
  color: #1ee;
  stroke: #1ee;
}
.line.data, .line.address {
  stroke: #11e;
  color: #11e;
}
.line.data.high, .line.address.high {
  color: #ee1;
  stroke: #ee1;
}
.line.background {
  stroke-width: 4px;
}

.g-reg {
  cursor: pointer;
}

.instructions {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 33%;
  max-height: 100vh;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  flex: 1;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  overflow-y: auto;
}
.tabcontent.active {
  display: block;
}

.reset-button {
  fill: seagreen;
  stroke: darkgreen;
}

.button:hover > .reset-button {
  fill: mediumseagreen;
}

span.mono {
  font-family: monospace;
}

@media screen and (max-width: 1350px) {
  .instructions {
    max-height: none;
  }
}

/*# sourceMappingURL=proc_vis.css.map */
