@use "sass:math"

$DIAGRAM_WIDTH : 900px

$MIN_WIDTH : $DIAGRAM_WIDTH + 2*math.div($DIAGRAM_WIDTH, 3)
$MAX_WIDTH : 2*$DIAGRAM_WIDTH

$ONE_THIRD_VW : math.div(100vw, 3)

body
  padding: 0
  margin: auto
  display: flex
  justify-content: space-around
  align-self: center
  max-width: $MAX_WIDTH
  flex-wrap: wrap

.box
  display: flex
  width: max-content
  position: relative
  overflow-x: auto


svg
  overflow: visible

.button
  cursor: pointer

  &:hover>.clock-button
    fill-opacity: 75%

  &:active>.clock-button
    fill-opacity: 100%

  &.active>.clock-button
    fill: seagreen

  //&:hover
.clock-button
  fill: white
  fill-opacity: 50%
  stroke: darkred
  stroke-width: 3


//&:hover
  fill-opacity: 75%

  //&:active
    fill-opacity: 100%

.decoder, .register, .alu, .ram
  stroke-width: 3px
  rx: 15px

.label
  font-family: sans-serif

  &.large
    font-size: xx-large

  &.small
    font-size: xx-small

//.decoder
//  fill: indianred
//  stroke: darkred

.register, .alu, .decoder, .ram
  fill: lightgoldenrodyellow
  stroke: darkorange

//.alu
//  fill: cornflowerblue
//  stroke: darkblue

.scroll-box
  height: 100%

.ram.input
    position: absolute
    //display: flex
    // positioning over same element in SVG
    top: 57px
    left: 670px
    width: 218px
    //height: 513px
    max-height: 513px
    overflow-y: auto

.clock-settings
  position: absolute
  top: 635px
  left: 360px
  width: 100px

#clock-time
  width: 100px
  font-size: x-large
  font-family: monospace
  text-align: right

.ram, .register, .alu
  &.read
    color: darkred
    stroke: darkred
    fill: indianred
  &.write
    color: darkblue
    stroke: darkblue
    fill: cornflowerblue


.inputLabel
  font-size: 16pt
  font-family: monospace
  cursor: pointer

.inputArea
  background-color: lightgoldenrodyellow
  font-family: monospace
  font-size: 16pt
  //&:invalid
    background-color: indianred

#ram-table
  border-spacing: 0
  align-self: center

.ram-word
  background-color: transparent
  &.active
    background-color: seagreen

td
  padding: 5pt

.line
  fill: none
  stroke-width: 3px

  &.control
    stroke: #e11
    color: #e11
    &.high
      color: #1ee
      stroke: #1ee

  &.data, &.address
    stroke: #11e
    color: #11e
    &.high
      color: #ee1
      stroke: #ee1

  //&.address
    color: #1e1
    stroke: #1e1
    &.high
      color: #e1e
      stroke: #e1e

  &.background
    //stroke: white
    stroke-width: 4px

.g-reg
  cursor: pointer


.instructions
  flex: 1
  display: flex
  flex-direction: column
  max-height: 100vh

.tab
  //overflow: hidden
  border: 1px solid #ccc
  background-color: #f1f1f1


/* Style the buttons that are used to open the tab content */
.tab button
  background-color: inherit
  float: left
  border: none
  outline: none
  cursor: pointer
  padding: 14px 16px
  transition: 0.3s


.tab button:hover
  background-color: #ddd

.tab button.active
  background-color: #ccc

.tabcontent
  flex: 1
  display: none
  padding: 6px 12px
  border: 1px solid #ccc
  border-top: none
  overflow-y: auto
  //max-height:

  &.active
    display: block

.reset-button
  fill: seagreen
  stroke: darkgreen


.button
  &:hover>.reset-button
    fill: mediumseagreen


span.mono
  font-family: monospace

@media screen and (max-width: $MIN_WIDTH)
  .instructions
    max-height: none
    min-width: min(100%, $DIAGRAM_WIDTH)
    max-width: $DIAGRAM_WIDTH
